<!DOCTYPE html>
<html>
  <head>
    <title>Off Record</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.2.5/mithril.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
