<div style="text-align: center; margin-top: 100px;">
  <form action="" method="POST">
    <input type="text" name="username" placeholder="Name" required autofocus>
    <button>Login</button>
  </form>
</div>

