<div id="chat"></div>

<script>
  window.payload = {
    roomId: '{{ roomId }}',
    username: '{{ username }}',
    messages: {{{ messages }}}
  }
</script>

<script src="/javascripts/chat.js"></script>
