html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  font-size: .9rem;
}

* {
  box-sizing: border-box;
}

.chat {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.message-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.message-form-inner {
  padding: 20px;
  padding-top: 0;
  max-width: 600px;
  margin: 0 auto;
}

.message-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  resize: none;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}

.message-form textarea:focus {
  outline: none;
}

.message-list {
  padding-bottom: 50px;
}

.message {
  margin-bottom: 30px;
}

.message pre {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  white-space: pre-wrap;
}

.message-title {
  margin-bottom: 4px;
}

.message-username {
  margin-right: 10px;
  color: #111;
}

.message-timestamp {
  color: #999;
  font-size: .8rem;
}

.online-users {
  position: fixed;
  right: 20px;
  top: 20px;
  background: whitesmoke;
  width: 220px;
}

.online-users ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.online-users .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.online-users .status.online {
  background: #15E21C;
}

.online-users li {
  margin-bottom: 6px;
}

@media (max-width: 800px) {
  .online-users {
    display: none;
  }
}