html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #505050;
}

* {
  box-sizing: border-box;
}

a {
  color: #7a00ff;
}

a:visited {
  color: #ff8f00;
}

button,
input[type="text"] {
  height: 34px;
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  background: #13438c;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0 20px;
}

.chat-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 240px;
  right: 0;
}

.message-form {
  background: white;
  margin: 0 20px 20px 0;
}

.message-form textarea {
  display: block;
  width: 100%;
  padding: 8px;
  resize: none;
  font-family: 'Raleway', sans-serif;
  border: none;
  border: 2px solid #d6d6d6;
  font-size: 1.05rem;
  height: auto;
  max-height: 127px;
  border-radius: 3px;
}

.message-form textarea:focus {
  outline: none;
}

.message-list {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
}

.message {
  margin-bottom: 26px;
  padding: 6px;
  margin-left: -6px;
  margin-right: -6px;
  transition: 200ms;
}

.message-title {
  margin-bottom: 4px;
}

.message-username {
  margin-right: 10px;
  color: #464646;
  font-weight: bold;
}

.message-timestamp {
  color: #999;
  font-size: .8rem;
}

.message-content p {
  margin: 0;
}

.message-content img {
  max-width: 100%;
}

.message-content code {
  background: whitesmoke;
  color: deeppink;
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
}

.chat-aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  bottom: 0;
  background: #2b4f69;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.online-users ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.online-users .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.online-users .username {
  display: inline-block;
  vertical-align: middle;
}

.online-users .status.online {
  background: #2bd800;
}

.online-users li {
  margin-bottom: 6px;
}

.emojione {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
}

@media (max-width: 800px) {
  .chat-aside {
    display: none;
  }

  .chat-main {
    left: 20px;
  }
}

.image-preview {
  margin-top: 10px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #d6d6d6
}

.new-message-enter {
  opacity: 0.01;
}

.new-message-enter.new-message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
