html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #505050;
}

* {
  box-sizing: border-box;
}

a {
  color: #7a00ff;
}

a:visited {
  color: #ff8f00;
}

.chat {
  padding: 20px;
  margin-left: 240px;
}

.message-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.message-form-inner {
  padding: 20px;
  padding-top: 0;
  margin-left: 240px;
}

.message-form textarea {
  display: block;
  width: 100%;
  padding: 10px 0;
  resize: none;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  font-size: 1.1rem;
  transition: 500ms;
  height: 44px;
}

.message-form textarea:focus {
  border-color: #7a00ff;
  transition: 800ms;
}

.message-form textarea:focus {
  outline: none;
}

.message-list {
  margin-bottom: -30px;
  padding-bottom: 80px;
}

.message {
  margin-bottom: 26px;
  padding: 6px;
  margin-left: -6px;
  margin-right: -6px;
  transition: 200ms;
}

.message:hover {
  background: #f9f9f9;
  transition: 200ms;
  border-radius: 3px;
}

.message-title {
  margin-bottom: 4px;
}

.message-username {
  margin-right: 10px;
  color: #464646;
  font-weight: bold;
}

.message-timestamp {
  color: #999;
  font-size: .8rem;
}

.message-content p {
  margin: 0;
}

.message-content img {
  max-width: 100%;
}

.message-content code {
  background: whitesmoke;
  color: deeppink;
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
}

.online-users {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
}

.online-users ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.online-users .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.online-users .username {
  display: inline-block;
  vertical-align: middle;
}

.online-users .status.online {
  background: #2bd800;
}

.online-users li {
  margin-bottom: 6px;
}

.emojione {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
}

@media (max-width: 800px) {
  .online-users {
    display: none;
  }

  .chat {
    margin-left: 0;
  }

  .message-form-inner {
    padding: 20px;
    padding-top: 0;
    margin-left: 0;
  }
}